= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9
  %title Site Administration | Supply Admin
  .page-header
    %h1 List of Subcategories
  %ol.breadcrumb
    %li= link_to 'Dashboard', admin_home_path
    %li.active Subcategories
  %ul.nav.nav-tabs
    %li.icon.dashboard_root_link.active{:rel => "", :title => ""}
      = link_to admin_subcategories_path, class: 'pjax' do
        .glyphicon.glyphicon-list
        %span Subcategories
    %li.icon.dashboard_root_link{:rel => "", :title => ""}
      = link_to new_admin_subcategory_path, class: 'pjax' do
        .glyphicon.glyphicon-plus
        %span Add new
  %table.table.table-condensed.table-striped
    %table#subcategories-table.table.orders-list_table
      %thead
        %tr
          %th Name
          %th Category
          %th Image
          %th
.clearfix
