= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9   
  .content{"data-pjax-container" => ""}
    .page-header
      %h1 New Subcategory
    %ol.breadcrumb
      %li.false
        = link_to 'Dashboard', admin_home_path, class: 'pjax'
      %li.false
        = link_to 'Subategories', admin_subcategories_path, class: 'pjax'
      %li.active New
    %ul.nav.nav-tabs
      %li.icon.dashboard_root_link{:rel => "", :title => ""}
        = link_to admin_subcategories_path, class: 'pjax' do
          .glyphicon.glyphicon-list
          %span Subcategories
      %li.icon.dashboard_root_link.active{:rel => "", :title => ""}
        = link_to new_admin_subcategory_path, class: 'pjax' do
          .glyphicon.glyphicon-plus
          %span Add new
    %br
    .col-xs-12.col-sm-8.col-md-8.col-lg-9
      = form_tag(admin_subcategories_path, method: :post, multipart: true, id: 'edit_subcategory', class: 'form-horizontal denser') do
        %fieldset
          .form-group.control-group.string_type.name_field
            .col-sm-6
              %label.control-label Name*
              .controls
                = text_field_tag "subcategory[name]", '', class: 'form-control', :required => "required", :size => "50"
            .col-sm-6
              %label.control-label Category*
              .controls
                = select_tag "subcategory[category_id]", options_from_collection_for_select(@categories, "id", "name"), class: 'form-control'
            .clearfix
          .form-group.control-group.paperclip_type.image_field
            .col-sm-6
              %label.control-label Image
              .controls
                .toggle
                  = file_field_tag "subcategory[image]"
            .clearfix
        .form-group.form-actions
          .col-sm-10
            %button.btn.btn-primary{"data-disable-with" => "Updating", :name => "_save", :type => "submit"}
              %i.icon-white.icon-ok
              Update
            %span.extra_buttons
              = link_to admin_subcategories_path do
                .btn.btn-default
                  %i.icon-remove
                  Cancel
          .clearfix
    .clearfix
.clearfix