.col-xs-12.col-md-12
  .row
    - @categories.each do |c|
      - if !c.subcategories.empty?
        .col-xs-6.col-sm-4.col-md-3.padding-5
          .col-xs-12.col-sm-12.col-md-12.block-image-home
            = link_to subcategory_path(c.subcategories.order('created_at DESC').first.id), class: 'black-link' do
              %div.block-image-home-div{style: "background-image: url(\"#{c.image.url(:medium)}\");background-position: center;"}
              .caption.block-image-home-caption
                %h4.text-center= c.name
      - else
        .col-xs-6.col-sm-4.col-md-3.padding-5
          .col-xs-12.col-sm-12.col-md-12.block-image-home
            %div.block-image-home-div{style: "background-image: url(\"#{c.image.url(:medium)}\");background-position: center;"}
            .caption.block-image-home-caption
              %h4.text-center= c.name
%nav.text-center
  %ul.pagination.pagination-lg= paginate @categories

- if params[:order] == 'create'
  #orderSended.modal.fade{:role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          = link_to '×', root_path, class: 'close'
          %br/
        .modal-body
          %h2.text-center
            Order is sent

  :javascript
    $( document ).ready(function() {
      $("#orderSended").modal("show");
    });


