.text-center
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2
      %h3 Thanks for signing up.
      %p
        Please contact Trident Restoration Inc. office
        %br
        tel:
        %a{:href => "tel:#{admin_user.first.phone}", :target => "_top"}= admin_user.first.phone
        %br
        email:
        %a{:href => "mailto:peter@tridentstructural.com", :target => "_top"} peter@tridentstructural.com
        %br
        or wait till manager will approve you.