.col-xs-12.col-md-12
  %ol.breadcrumb
    %li.active My Profile
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2
      .panel.panel-default
        .panel-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            .form-group
              %label{:for => "first_name"} First Name
              = f.text_field :first_name, placeholder: current_user.first_name, id: 'first_name', class: 'form-control'
            .form-group
              %label{:for => "last_name"} Last Name
              = f.text_field :last_name, placeholder: current_user.last_name, id: 'last_name', class: 'form-control'
            .form-group
              %label{:for => "phone"} Phone
              = f.text_field :phone, placeholder: current_user.phone, id: 'phone', class: 'form-control'
            .form-group
              %label{:for => "current_password"} Change Password
              = f.password_field :current_password, :placeholder => "Current password", autocomplete: "off", id: 'current_password', class: 'form-control'
            %button.btn.btn-success.btn-lg.center-block{:type => "submit"} SAVE CHANGES
      .panel.panel-default
        .panel-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            .form-group
              %label{:for => "current_password"} Change Password
              = f.password_field :current_password, :placeholder => "Current password", autocomplete: "off", id: 'current_password', class: 'form-control'
            .form-group
              = f.password_field :password, :placeholder => "New password", autocomplete: "off", id: 'new_password', class: 'form-control'
            .form-group
              = f.password_field :password_confirmation, :placeholder => "Repeat new password", autocomplete: "off", id: 'new_password', class: 'form-control'
            %button.btn.btn-primary.btn-lg.center-block{:type => "submit"} CHANGE PASSWORD
