.vertical-center
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2
      .panel.panel-default
        .panel-heading
          %h2.panel-title Sign up
        .panel-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            #error_explanation= devise_error_messages!
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: 'form-control', id: 'email-field'
            .form-group
              = f.label :first_name
              = f.text_field :first_name, class: 'form-control', id: 'first_name-field'
            .form-group
              = f.label :last_name
              = f.text_field :last_name, class: 'form-control', id: 'last_name-field'
            .form-group
              = f.label :phone
              = f.text_field :phone, class: 'form-control', id: 'phone-field'
            .form-group
              = f.label :password
              - if @validatable
                %em
                  (#{@minimum_password_length} characters minimum)
              = f.password_field :password, autocomplete: "off", class: 'form-control', id: 'password-field'
            .form-group
              = f.label :password_confirmation
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', id: 'password_confirmation-field'
            .actions
              = f.submit "Sign up", class: 'btn btn-primary'
