.col-xs-12.col-md-12
  %ol.breadcrumb
    %li
      = link_to 'Catalog', root_path
    %li
      = link_to @subcategory.category.name, subcategory_path(@subcategory.category.subcategories.order('created_at DESC').first.id)
    %li.active
      = @subcategory.name
  .row
    .col-xs-4.col-md-4.col-sm-4.col-xs-12.subcategory-sidebar
      %ul.nav.nav-pills.nav-stacked
        - @subcategories.each do |s|
          %li{:role => "presentation", class: "#{'active' if @subcategory.id == s.id}"}
            = link_to s.name, subcategory_path(s.id)

    .col-xs-8.col-md-8.col-sm-8.col-xs-12
      - @products.each do |p|
        = p.id
        %br
        - p.characteristics.each do |c|
          = c.values.count

        .col-xs-6.col-sm-4.col-md-3.product-img-responsive
          .thumbnail
            = link_to product_path(p), class: 'black-link' do
              %div.product-image-block{style: "background-image: url(\"#{p.photo.url(:medium)}\");background-position: center;background-size: 50%"}
                .block-image-product-caption
                  %h6.text-center= p.name
            .caption
              .row
                = form_tag(:carts, :method => "put") do
                  = hidden_field_tag 'carts[product_id]', p.id
                  - p.characteristics.each do |c|

                    = hidden_field_tag "carts[characteristic_#{c.try(:id)}]", c.values.first.try(:id)
                  .col-xs-6.col-md-6
                    = number_field_tag 'carts[quantity]', '1', min: '1', class: 'form-control input-sm'
                  .col-xs-6.col-md-6
                    %button.btn.btn-success.btn-sm.btn-block{:type => "submit"}
                      %span.glyphicon.glyphicon-shopping-cart{"aria-hidden" => "true"}
                      Add
    .clear-fix
      %nav.text-center
        %ul.pagination.pagination-lg= paginate @products

