.col-xs-12.col-sm-4.col-md-3
  %ul.list-group
    %li.list-group-item
      = link_to admin_home_path do
        %h4
          .glyphicon.glyphicon-cog
          Admin
    %li.list-group-item
      = link_to admin_categories_path do
        .glyphicon.glyphicon-th-large
        Categories
    %li.list-group-item
      = link_to admin_subcategories_path do
        .glyphicon.glyphicon-th
        Subcategories
    %li.list-group-item
      = link_to admin_products_path do
        .glyphicon.glyphicon-picture
        Products
    /%li.list-group-item
    /  = link_to '#' do
    /    .glyphicon.glyphicon-shopping-cart
    /    Orders
    %li.list-group-item
      = link_to admin_suppliers_path do
        .glyphicon.glyphicon-home
        Suppliers
    %li.list-group-item
      = link_to admin_users_path do
        .glyphicon.glyphicon-user
        Users


