.vertical-center
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2
      .panel.panel-default
        .panel-heading
          %h2.panel-title Change your password
        .panel-body
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            = f.hidden_field :reset_password_token 
            .form-group
              = f.label :password, "New password"
              = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'
            .form-group
              = f.label :password_confirmation, "Confirm new password"
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
            .actions
              = f.submit "Change my password", class: 'btn btn-primary'
