.vertical-center
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2
      .panel.panel-default
        .panel-heading
          %h2.panel-title Forgot your password?
        .panel-body
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages! 
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: 'form-control'
            .actions
              = f.submit "Send me reset password instructions", class: 'btn btn-primary'
