/ Modal
#myModal.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Add new Item to Order
      .modal-body
        .well
          .col-xs-12.col-sm-12.col-md-12
            %label Select Product
            #select-new-product= select_tag :product, options_for_select(@products.collect{ |p| [p.name.to_s, p.id]}), id: 'add_product', style: 'width: 100%'
          .clearfix
          %br
          #select-caharacteristict
          .clearfix

      .modal-footer
        %button.btn.btn-primary#add-item-button{:disabled => "disabled"} Add
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
- @products.each do |p|
  = hidden_field_tag "image[value_#{p.id}]", p.photo.url, id: "image_#{p.id}"
