.well
  .col-xs-12.col-sm-3.col-md-3
    .rounded
      Deliver to:
      %textarea#deliver-to-address.form-control{:rows => "4", disabled: @order.order_status.name != 'New'}= @order.address
    %br
    .rounded
      To send also to:
      .lead
        %input#other-email.form-control{type: "email"}
        %h5.text-danger.hide{id: 'separate-emails'} Separate the e-mails with comma!
  .col-xs-12.col-sm-3.col-md-3
    .rounded
      Сustomer:
      %p
        .lead
          #{@order.user.first_name}
          #{@order.user.last_name}
        #{@order.user.email}
        %br
        #{@order.user.phone}
  .col-xs-12.col-sm-3.col-md-3
    .rounded
      Status:
      %p.lead
        %span.label{ class: get_color_status(@order.order_status_id)} #{@order.order_status.name}
    - if @order.message
      .rounded
        Message:
        %p.text-muted
          %span= @order.message
  .col-xs-12.col-sm-3.col-md-3
    .rounded
      Suppliers:
      - @suppliers.each_with_index do |s, i|
        %p.lead
          %a{href: "##{i.to_s + s.name}"}
            %span.black-link
              - @order_items = get_order_item(@order, s)
              - if check_items(@order_items) == 'false'
                #{s.name}
                %i.fa.fa-circle-o
              - elsif check_items(@order_items) == 'true'
                #{s.name}
                %i.fa.fa-check-circle-o.green-check
              - else
                - if get_not_sended_order_items(@order_items)
                  #{s.name} (Additional Order)
                  %i.fa.fa-circle-o
                - if get_sended_order_items(@order_items)
                  #{s.name}
                  %i.fa.fa-check-circle-o.green-check

      - if @order.order_status.name != 'Handled'
        %button.btn.btn-primary.btn{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Add new Item to Order
  .clearfix