= form_tag(add_item_path, method: :post, id: 'add-new-item') do
  = hidden_field_tag :order_id, @order.id
  = hidden_field_tag :product_id, @product.id
  .col-xs-8.col-sm-8.col-md-8
    - @product.characteristics.each do |c|
      %label= c.name
      = select_tag "characteristics[#{c.id}]", options_from_collection_for_select(c.values, "id", "name"), class: 'form-control'
      %br
  .col-xs-4
    %label Count
    = number_field_tag :quantity, '1', min: 1, class: 'form-control'
    %br
    = image_tag @product.photo.url, height: "80", width: "80"