.col-xs-12.col-md-12
  %ol.breadcrumb
    %li.active Orders List
  .row
    .col-xs-12.col-md-12
      .table-responsive
        %table#orders-table.table.orders-list_table
          %thead
            %tr
              %th Order ID
              %th User
              %th Date
              %th Status
              %th