.col-xs-12.col-md-12
  = render 'orders/order_info'
  .row
    .col-xs-12.col-md-12
      - @suppliers.each_with_index do |s, i|
        - @order_items = get_order_item(@order, s)
        - if check_items(@order_items) == 'false'
          %span{id: i.to_s + s.name}
          = form_tag(send_order_path, method: :post, id: s.name) do
            = hidden_field_tag :address, @order.address, class: 'form-control', id: 'hidden-address'
            = hidden_field_tag :other_email, '', class: 'form-control', id: 'hidden-other-email'
            = hidden_field_tag :supplier_id, s.id
            = hidden_field_tag :items, @order_items.map(&:id)
            = hidden_field_tag :id, @order.id
            %ol.breadcrumb.supplier-header
              %span.text-left{id: "#supplier_#{s.id}"}= s.name
              %span.pull-right= submit_tag 'Send this order', class: 'btn btn-primary'
            .table-responsive
              %table.table
                %thead
                  %tr
                    %th Photo
                    %th Name / Link
                    %th Count
                    %th Actions
                %tbody
                  - @order_items.each do |i|
                    %tr
                      %td.col-md-1.col-xs-1
                        = image_tag i.product.photo(:thumb), class: 'img-rounded'
                      %td.col-md-2.col-xs-2.space-normal
                        %b
                          = link_to i.product.name, product_path(i.product)
                          - eval(i.characteristics).each do |k, v|
                            .small.text-normal= "#{k}: #{v}"
                      %td.col-md-4.col-xs-1
                        = number_field_tag "item_id_#{i.id}", i.quantity, min: '1', class: 'form-control width-90'
                      %td.col-md-1.col-xs-1
                        = link_to remove_item_order_path(item_id: i.id), confirm: 'confirm' do
                          .btn.btn-danger
                            .glyphicon.glyphicon-trash
        - elsif check_items(@order_items) == 'true'
          %span{id: i.to_s + s.name}
          %ol.breadcrumb.supplier-header
            %span.text-left= s.name
            %span.pull-right
              = form_tag(resend_order_path, method: :post, id: s.name) do
                = hidden_field_tag :address, @order.address, class: 'form-control', id: 'hidden-resend-address'
                = hidden_field_tag :other_email, '', class: 'form-control', id: 'hidden-resend-other-email'
                = hidden_field_tag :supplier_id, s.id
                = hidden_field_tag :items, @order_items.map(&:id)
                = hidden_field_tag :id, @order.id
                %button.btn.btn-success.resend-button{:type => "submit"} Resend
            %span.pull-right Sent: #{get_date_sended(@order_items).strftime('%m.%d.%y  %H:%M:%S')}
          .table-responsive
            %table.table
              %thead
                %tr
                  %th Photo
                  %th Name / Link
                  %th Count
                  %th
              %tbody
                - @order_items.each do |i|
                  %tr
                    %td.col-md-1.col-xs-1
                      = image_tag i.product.photo(:thumb), class: 'img-rounded'
                    %td.col-md-2.col-xs-2.space-normal
                      %b
                        = link_to i.product.name, product_path(i.product)
                        - eval(i.characteristics).each do |k, v|
                          .small.text-normal= "#{k}: #{v}"
                    %td.col-md-4.col-xs-1
                      = number_field_tag "item_id_#{i.id}", i.quantity, min: '1', class: 'form-control width-90', disabled: true
                    %td.col-md-1.col-xs-1
        - else
          - @not_sended_order_items = get_not_sended_order_items(@order_items)
          %span{id: i.to_s + s.name}
          = form_tag(send_order_path, method: :post, id: s.name) do
            = hidden_field_tag :address, @order.address, class: 'form-control', id: 'hidden-address'
            = hidden_field_tag :supplier_id, s.id
            = hidden_field_tag :items, @not_sended_order_items.map(&:id)
            = hidden_field_tag :id, @order.id
            %ol.breadcrumb.supplier-header
              %span.text-left{id: "#supplier_#{s.id}"}= "#{s.name} (Additional Order)"
              %span.pull-right= submit_tag 'Send this order', class: 'btn btn-primary'
            .table-responsive
              %table.table
                %thead
                  %tr
                    %th Photo
                    %th Name / Link
                    %th Count
                    %th Actions
                %tbody
                  - @not_sended_order_items.each do |i|
                    %tr
                      %td.col-md-1.col-xs-1
                        = image_tag i.product.photo(:thumb), class: 'img-rounded'
                      %td.col-md-2.col-xs-2.space-normal
                        %b
                          = link_to i.product.name, product_path(i.product)
                          - eval(i.characteristics).each do |k, v|
                            .small.text-normal= "#{k}: #{v}"
                      %td.col-md-4.col-xs-1
                        = number_field_tag "item_id_#{i.id}", i.quantity, min: '1', class: 'form-control width-90'
                      %td.col-md-1.col-xs-1
                        = link_to remove_item_order_path(item_id: i.id), confirm: 'confirm' do
                          .btn.btn-danger
                            .glyphicon.glyphicon-trash
          - @sended_order_items = get_sended_order_items(@order_items)
          %span{id: i.to_s + s.name}
          %ol.breadcrumb.supplier-header
            %span.text-left= s.name
            %span.pull-right Sent: #{get_date_sended(@sended_order_items).strftime('%m.%d.%y  %H:%M:%S')}
          .table-responsive
            %table.table
              %thead
                %tr
                  %th Photo
                  %th Name / Link
                  %th Count
                  %th
              %tbody
                - @sended_order_items.each do |i|
                  %tr
                    %td.col-md-1.col-xs-1
                      = image_tag i.product.photo(:thumb), class: 'img-rounded'
                    %td.col-md-2.col-xs-2.space-normal
                      %b
                        = link_to i.product.name, product_path(i.product)
                        - eval(i.characteristics).each do |k, v|
                          .small.text-normal= "#{k}: #{v}"
                    %td.col-md-4.col-xs-1
                      = number_field_tag "item_id_#{i.id}", i.quantity, min: '1', class: 'form-control width-90', disabled: true
                    %td.col-md-1.col-xs-1
= render 'orders/add_new_item'