.vertical-center
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2
      .panel.panel-default
        .panel-heading
          %h2.panel-title Log In
        .panel-body
          - if flash[:change_password]
            .alert.alert-info
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              = flash[:change_password]
          - if flash[:not_active]
            .alert.alert-danger
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              = flash[:not_active]
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: 'form-control'
            .form-group
              = f.label :password
              = f.password_field :password, autocomplete: "off", class: 'form-control'
            - if devise_mapping.rememberable?
              .form-group
                = f.label :remember_me do
                  = f.check_box :remember_me
                  Remember me
            .actions
              = f.submit "Login", class: 'btn btn-primary'
              = link_to "Forgot your password?", new_password_path(resource_name), class: 'btn btn-default'