= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9   
  .content{"data-pjax-container" => ""}
    .page-header
      %h1 Edit Category #{@category.name}
    %ol.breadcrumb
      %li.false
        = link_to 'Dashboard', admin_home_path, class: 'pjax'
      %li.false
        = link_to 'Categories', admin_categories_path, class: 'pjax'
      %li.false
        = link_to @category.name, admin_category_path(@category.id), class: 'pjax'
      %li.active Edit
    %ul.nav.nav-tabs
      %li.icon.show_member_link{:rel => "", :title => ""}
        = link_to admin_category_path(@category.id) do
          .glyphicon.glyphicon-eye-open
          %span Show
      %li.icon.edit_member_link.active{:rel => "", :title => ""}
        = link_to edit_admin_category_path(@category.id) do
          .glyphicon.glyphicon-pencil
          %span Edit
      %li.icon.delete_member_link{:rel => "", :title => ""}
        = link_to admin_category_path(@category.id), method: :delete, data: { confirm: 'Are you sure?' } do
          .glyphicon.glyphicon-remove
          %span Delete
    %br
    .col-xs-12.col-sm-8.col-md-8.col-lg-9
      = form_tag(admin_category_path, method: :put, multipart: true, id: 'edit_category', class: 'form-horizontal denser') do
        %fieldset
          .form-group.control-group.string_type.name_field
            .col-sm-6
              %label.control-label Name*
              .controls
                = text_field_tag "category[name]", @category.name, class: 'form-control', :required => "required", :size => "50"
            .col-sm-6
              %label.control-label Image
              .controls
                .toggle
                  = image_tag @category.image.url(:thumb), class: 'img-thumbnail'
                  %br
                  = file_field_tag "category[image]"
            .clearfix
        .form-group.form-actions
          .col-sm-10
            %button.btn.btn-primary{"data-disable-with" => "Updating", :name => "_save", :type => "submit"}
              %i.icon-white.icon-ok
              Update
            %span.extra_buttons
              = link_to admin_categories_path do
                .btn.btn-default
                  %i.icon-remove
                  Cancel
          .clearfix
    .clearfix