= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9
  %title Site Administration | Supply Admin
  .page-header
    %h1 List of Categories
  %ol.breadcrumb
    %li= link_to 'Dashboard', admin_home_path
    %li.active Categories
  %ul.nav.nav-tabs
    %li.icon.dashboard_root_link.active{:rel => "", :title => ""}
      = link_to admin_categories_path, class: 'pjax' do
        .glyphicon.glyphicon-list
        %span Categories
    %li.icon.dashboard_root_link{:rel => "", :title => ""}
      = link_to new_admin_category_path, class: 'pjax' do
        .glyphicon.glyphicon-plus
        %span Add new
  %table.table.table-condensed.table-striped
    %table#categories-table.table.orders-list_table
      %thead
        %tr
          %th Name
          %th Image
          %th
.clearfix