= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9   
  .content{"data-pjax-container" => ""}
    .page-header
      %h1 New Category
    %ol.breadcrumb
      %li.false
        = link_to 'Dashboard', admin_home_path, class: 'pjax'
      %li.false
        = link_to 'Categories', admin_categories_path, class: 'pjax'
      %li.active New
    %ul.nav.nav-tabs
      %li.icon.dashboard_root_link{:rel => "", :title => ""}
        = link_to admin_categories_path, class: 'pjax' do
          .glyphicon.glyphicon-list
          %span Categories
      %li.icon.dashboard_root_link.active{:rel => "", :title => ""}
        = link_to new_admin_category_path, class: 'pjax' do
          .glyphicon.glyphicon-plus
          %span Add new
    %br
    .col-xs-12.col-sm-8.col-md-8.col-lg-9
      = form_tag(admin_categories_path, method: :post, multipart: true, id: 'edit_category', class: 'form-horizontal denser') do
        %fieldset
          .form-group.control-group.string_type.name_field
            .col-sm-6
              %label.control-label Name
              .controls
                = text_field_tag "category[name]", '', class: 'form-control', :required => "required", :size => "50"
            .col-sm-6
              %label.control-label Image
              .controls
                .toggle
                  = file_field_tag "category[image]"
            .clearfix
        .form-group.form-actions
          .col-sm-10
            %button.btn.btn-primary{"data-disable-with" => "Creating", :name => "_save", :type => "submit"}
              %i.icon-white.icon-ok
              Create
            %span.extra_buttons
              = link_to admin_categories_path do
                .btn.btn-default
                  %i.icon-remove
                  Cancel
          .clearfix
    .clearfix