= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9  
  .content{"data-pjax-container" => ""}
    .page-header
      %h1 Details for Category #{@category.name}
    %ol.breadcrumb
      %li.false
        = link_to 'Dashboard', admin_home_path, class: 'pjax'
      %li.false
        = link_to 'Categories', admin_categories_path, class: 'pjax'
      %li.active= @category.name
    %ul.nav.nav-tabs
      %li.icon.show_member_link.active{:rel => "", :title => ""}
        = link_to admin_category_path(@category.id) do
          .pjax
            .glyphicon.glyphicon-eye-open
            %span Show
      %li.icon.edit_member_link{:rel => "", :title => ""}
        = link_to edit_admin_category_path(@category.id) do
          .pjax
            .glyphicon.glyphicon-pencil
            %span Edit
      %li.icon.delete_member_link{:rel => "", :title => ""}
        = link_to admin_category_path(@category.id), method: :delete, data: { confirm: 'Are you sure?' } do
          .pjax
            .glyphicon.glyphicon-remove
            %span Delete
    .fieldset
      %dl
        %h4 Basic Info
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          %dt
            %span.label.label-info.name_field.string_type
              Name
          %dd.well
            = @category.name
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          %dt
            %span.image_field.label.label-info.paperclip_type
              Image
          %dd.well
            = link_to @category.image.url, :target => "_blank" do
              = image_tag @category.image.url(:thumb), class: 'img-thumbnail'
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          %dt
            %span.has_many_association_type.label.label-info.subcategories_field
              Subcategories
          %dd.well
            - @category.subcategories.each do |s|
              = link_to s.name, admin_subcategory_path(s.id), class: 'pjax'
              ,
        .clearfix
.clearfix