= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9   
  .content{"data-pjax-container" => ""}
    .page-header
      %h1 Edit Product #{@product.name}
    %ol.breadcrumb
      %li.false
        = link_to 'Dashboard', admin_home_path, class: 'pjax'
      %li.false
        = link_to 'Products', admin_products_path, class: 'pjax'
      %li.false
        = link_to @product.name, admin_product_path(@product.id), class: 'pjax'
      %li.active Edit
    %ul.nav.nav-tabs
      %li.icon.show_member_link{:rel => "", :title => ""}
        = link_to admin_product_path(@product.id) do
          .glyphicon.glyphicon-eye-open
          %span Show
      %li.icon.edit_member_link.active{:rel => "", :title => ""}
        = link_to edit_admin_product_path(@product.id) do
          .glyphicon.glyphicon-pencil
          %span Edit
      %li.icon.delete_member_link{:rel => "", :title => ""}
        = link_to admin_product_path(@product.id), method: :delete, data: { confirm: 'Are you sure?' } do
          .glyphicon.glyphicon-remove
          %span Delete
    %br
    .col-xs-12.col-sm-12.col-md-11.col-lg-10
      = form_tag(admin_product_path, method: :put, multipart: true, id: 'edit_product', class: 'form-horizontal denser') do
        %fieldset
          %h4
            Basic info
          .form-group.control-group.string_type.name_field
            .col-sm-6
              %label.control-label Name*
              .controls
                = text_field_tag "product[name]", @product.name, class: 'form-control', :required => "required", :size => "50"
            .col-sm-6
              %label.control-label Measurement*
              .controls
                = text_field_tag "product[measurement]", @product.measurement, class: 'form-control', :required => "required", :size => "50"
            .clearfix
          .form-group.control-group.string_type.name_field
            .col-sm-6
              %label.control-label Subcategory
              .controls
                = select_tag "product[subcategory_id]", options_from_collection_for_select(@subcategories, "id", "name", @product.subcategory_id), class: 'form-control'
            .col-sm-6
              %label.control-label Supplier
              .controls
                = select_tag "product[supplier_id]", options_from_collection_for_select(@suppliers, "id", "name", @product.supplier_id), class: 'form-control'
            .clearfix
          .form-group.control-group.string_type.name_field
            .col-sm-6
              %label.control-label Image
              .controls
                = image_tag @product.photo.url(:thumb), class: 'img-thumbnail'
                = file_field_tag "product[photo]"
            .col-sm-6
              %label.control-label Description*
              .controls
                = text_area_tag "product[description]", @product.description, class: 'form-control', :required => "required", :rows => "7"
            .clearfix
          %hr
          %h4
            Characteristics
          - if @product.characteristics.count > 0
            .form-group.control-group.string_type.name_field
              .col-sm-6
                %label.control-label Characteristic*
              .col-sm-6
                %label.control-label Value*
              .clearfix
              - @product.characteristics.each do |c|
                .characteristic-cart
                  .col-sm-6
                    .controls
                      .col-xs-10.col-sm-10.padding-0= text_field_tag "edit_characteristic[#{c.id}]", c.name, class: ' form-control', :required => "required", :size => "50"
                      .col-xs-1.col-sm-1
                        = link_to '', admin_remove_characteristic_path(characteristic_id: c.id), remote: true
                        .btn.btn-danger.ajax-delete-characteristic
                          .glyphicon.glyphicon-remove
                      .clearfix
                    %br
                  .col-sm-6
                    - c.values.each do |v|
                      .value-cart.controls
                        .col-xs-10.col-sm-10.padding-0= text_field_tag "edit_value[#{v.id}]", v.name, class: 'form-control', :required => "required", :size => "50"
                        .col-xs-1.col-sm-1
                          = link_to admin_remove_value_path(value_id: v.id), remote: true, class: 'ajax-delete-value' do
                            .btn.btn-warning
                              .glyphicon.glyphicon-remove
                        .clearfix
                        %br
                  .clearfix

          #product_characteristics_field.form-group.control-group.string_type.input_fields_characteristic
            = hidden_field_tag :count_of_characteristics, '', id: 'count-of-characteristics'
            %div{class: 'qwerty', "data-item" => "1", style: "margin-bottom: 15px;" }
              .col-sm-6
                %label.control-label{:for => "product_description"} Characteristics
                .controls
                  = text_field_tag "characteristic[1]", '', class: 'form-control'
              .col-sm-5.input_fields_value
                %label.control-label{:for => "product_description"} Values
                .input-group{style: "margin-bottom: 15px;" }
                  %input.form-control{:type => "text", name: "value[1_1]", "data-item" => '1'}/
                  %span.input-group-addon.add_value_button
                    .glyphicon.glyphicon-plus
              %span.col-sm-1.padding-0.add_characteristic_button{style: "margin-top: 27px;"}
                .btn.btn-default
                  .glyphicon.glyphicon-plus
              .characteristic-input
              .clearfix
          .clearfix
          %br
        .form-group.form-actions
          .col-sm-10
            %button.btn.btn-primary{"data-disable-with" => "Updating", :name => "_save", :type => "submit"}
              %i.icon-white.icon-ok
              Update
            %span.extra_buttons
              = link_to admin_products_path do
                .btn.btn-default
                  %i.icon-remove
                  Cancel
          .clearfix