= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9
  %title Site Administration | Supply Admin
  .page-header
    %h1 List of Products
  %ol.breadcrumb
    %li= link_to 'Dashboard', admin_home_path
    %li.active Products
  %ul.nav.nav-tabs
    %li.icon.dashboard_root_link.active{:rel => "", :title => ""}
      = link_to admin_products_path, class: 'pjax' do
        .glyphicon.glyphicon-list
        %span Products
    %li.icon.dashboard_root_link{:rel => "", :title => ""}
      = link_to new_admin_product_path, class: 'pjax' do
        .glyphicon.glyphicon-plus
        %span Add new
  %table.table.table-condensed.table-striped
    %table#products-table.table
      %thead
        %tr
          %th.header.pjax.name_field.string_type Name
          %th.header.pjax.image_field.paperclip_type Photo
          %th.header.pjax.name_field.string_type Subcategory
          %th.header.pjax.name_field.string_type Supplier
          %th.last.shrink
.clearfix
