= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9
  .content{"data-pjax-container" => ""}
    .page-header
      %h1 New Product
    %ol.breadcrumb
      %li.false
        = link_to 'Dashboard', admin_home_path, class: 'pjax'
      %li.false
        = link_to 'Products', admin_products_path, class: 'pjax'
      %li.active New
    %ul.nav.nav-tabs
      %li.icon.dashboard_root_link{:rel => "", :title => ""}
        = link_to admin_products_path, class: 'pjax' do
          .glyphicon.glyphicon-list
          %span Products
      %li.icon.dashboard_root_link.active{:rel => "", :title => ""}
        = link_to new_admin_product_path, class: 'pjax' do
          .glyphicon.glyphicon-plus
          %span Add new
    %br
    = form_tag(admin_products_path, method: :post, multipart: true, id: 'new_product', class: 'form-horizontal denser') do
      %fieldset
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .form-group.control-group.string_type.name_field
            .col-sm-5
              %label.control-label Name*
              .controls
                = text_field_tag "product[name]", '', class: 'form-control', :required => "required", :size => "50"
            .col-sm-5
              %label.control-label Measurement*
              .controls
                = text_field_tag "product[measurement]", '', class: 'form-control', :required => "required", :size => "50"
            .clearfix
          .form-group.control-group.string_type.name_field
            .col-sm-5
              %label.control-label Subcategory
              .controls
                = select_tag "product[subcategory_id]", options_from_collection_for_select(@subcategories, "id", "name"), class: 'form-control'
            .col-sm-5
              %label.control-label{:for => "subcategory_name"} Supplier
              .controls
                = select_tag "product[supplier_id]", options_from_collection_for_select(@suppliers, "id", "name"), class: 'form-control'
            .clearfix
          .form-group.control-group.paperclip_type.image_field
            .col-sm-5
              %label.control-label Description
              .controls
                = text_area_tag "product[description]", '', class: 'form-control', :required => "required", :rows => "7"
            .col-sm-5
              %label.control-label Image
              .controls
                .toggle
                  = file_field_tag "product[photo]"
            .clearfix
        .clerfix
        .col-xs-12.col-sm-12.col-md-11.col-lg-10
          #product_characteristics_field.form-group.control-group.string_type.input_fields_characteristic
            = hidden_field_tag :count_of_characteristics, '', id: 'count-of-characteristics'
            %div{class: 'qwerty', "data-item" => "1", style: "margin-bottom: 15px;" }
              .col-sm-6
                %label.control-label{:for => "product_description"} Characteristics
                .controls
                  = text_field_tag "characteristic[1]", '', class: 'form-control'
              .col-sm-5.input_fields_value
                %label.control-label{:for => "product_description"} Values
                .input-group{style: "margin-bottom: 15px;" }
                  %input.form-control{:type => "text", name: "value[1_1]", "data-item" => '1'}/
                  %span.input-group-addon.add_value_button
                    .glyphicon.glyphicon-plus
              %span.col-sm-1.padding-0.add_characteristic_button{style: "margin-top: 27px;"}
                .btn.btn-default
                  .glyphicon.glyphicon-plus
              .clearfix
          #product_characteristics_field.form-group.control-group.string_type.name_field
            .col-sm-5
              %button.btn.btn-primary{"data-disable-with" => "Saving", :name => "_save", :type => "submit"}
                %i.icon-white.icon-ok
                Save
              %span.extra_buttons
                = link_to admin_products_path do
                  .btn.btn-default
                    %i.icon-remove
                    Cancel
            .clearfix
.clearfix