= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9  
  .content{"data-pjax-container" => ""}
    .page-header
      %h1 Details for Product #{@product.name}
    %ol.breadcrumb
      %li.false
        = link_to 'Dashboard', admin_home_path, class: 'pjax'
      %li.false
        = link_to 'Products', admin_products_path, class: 'pjax'
      %li.active= @product.name
    %ul.nav.nav-tabs
      %li.icon.show_member_link.active{:rel => "", :title => ""}
        = link_to admin_product_path(@product.id) do
          .pjax
            .glyphicon.glyphicon-eye-open
            %span Show
      %li.icon.edit_member_link{:rel => "", :title => ""}
        = link_to edit_admin_product_path(@product.id) do
          .pjax
            .glyphicon.glyphicon-pencil
            %span Edit
      %li.icon.delete_member_link{:rel => "", :title => ""}
        = link_to admin_product_path(@product.id), method: :delete, data: { confirm: 'Are you sure?' } do
          .pjax
            .glyphicon.glyphicon-remove
            %span Delete
    .fieldset
      %h4
        Basic info
      %dl
        .col-xs-12.col-sm-12.col-md-6.col-lg-6
          %dt
            %span.label.label-info.name_field.string_type
              Name
          %dd.well
            = @product.name
          %dt
            %span.label.label-info.name_field.string_type
              Subcategory
          %dd.well
            = link_to @product.subcategory.name, admin_subcategory_path(@product.subcategory.id)
          %dt
            %span.image_field.label.label-info.paperclip_type
              Image
          %dd.well
            = link_to @product.photo.url, :target => "_blank" do
              = image_tag @product.photo.url(:medium), class: 'img-thumbnail'
        .col-xs-12.col-sm-12.col-md-6.col-lg-6
          %dt
            %span.label.label-info.name_field.string_type
              Measurement
          %dd.well
            = @product.measurement
          %dt
            %span.label.label-info.name_field.string_type
              Supplier
          %dd.well
            = @product.supplier.name
          %dt
            %span.image_field.label.label-info.paperclip_type
              Description
          %dd.well
            = @product.description
        .clearfix
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          %dt
          %span.has_many_association_type.label.label-info.subcategories_field
            Characteristics
          %dd.well
            - get_characteristics(@product.characteristics).each do |c|
              %dl.col-xs-12.col-sm-6.col-md-4.col-lg-3
                %dt #{c.name}:
                - get_values(c.values).each do |v|
                  %dd - #{v.name}
            .clearfix
