!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title New user has signed up
    :css
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      a:link {
        text-decoration: none;
      }

      a {
        color: #5656E0;
      }

      body {
         padding-top: 0 !important;
         padding-bottom: 0 !important;
         margin:0 !important;
         width: 100% !important;
         -webkit-text-size-adjust: 100% !important;
         -ms-text-size-adjust: 100% !important;
         -webkit-font-smoothing: antialiased !important;
       }
      img {
         border: 0 !important;
         display: block !important;
         outline: none !important;
       }

      div,p,ul,h2,{
        margin:0;
      }

      .navbar-brand {
        float: left;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        height: 50px;
        color: #9d9d9d;
        font-weight: bold;
      }

      .customer-info-item {
        color: grey;
        font-weight: bold;
      }

  %body
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "font-family:helvetica, sans-serif;", :width => "100%"}
      %tr
        %td{:height => "50px", :style => "background-color: #101010;" }
          %a.navbar-brand{:href => ""} Supply
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "font-family:helvetica, sans-serif;margin-left: 15px;margin-right: 15px;", :width => "100%" }
      %tr
        %td{:height => "25px"}
      %tr
        %td
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "430"}
                  %tr
                    %td
                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td
                            %h2 New user has signed up.
                            %table
                              %tr
                                %td.customer-info-item
                                  Name
                                %td{:width => "15"}
                                %td
                                  #{@user.first_name} #{@user.last_name}
                              %tr
                                %td.customer-info-item
                                  Email
                                %td{:width => "15"}
                                %td
                                  %a{:href => "mailto:#{@user.email}"}
                                    #{@user.email}
                              %tr
                                %td.customer-info-item
                                  Phone
                                %td{:width => "15"}
                                %td
                                  #{@user.phone}
                              %tr
                                %td.customer-info-item
                                  = link_to 'Activate user in admin panel', "http://supply.tridentrestorationinc.com/admin/user/#{@user.id}"
      %tr
        %td{:height => "25px"}