!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title New order
    :css
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      a:link {
        text-decoration: none;
      }

      a {
        color: #5656E0;
      }

      body {
         padding-top: 0 !important;
         padding-bottom: 0 !important;
         margin:0 !important;
         width: 100% !important;
         -webkit-text-size-adjust: 100% !important;
         -ms-text-size-adjust: 100% !important;
         -webkit-font-smoothing: antialiased !important;
       }
      img {
         border: 0 !important;
         display: block !important;
         outline: none !important;
       }

      div,p,ul,h2,{
        margin:0;
      }

      .navbar-brand {
        float: left;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        height: 50px;
        color: #9d9d9d;
        font-weight: bold;
      }

      .customer-info-item {
        color: grey;
        font-weight: bold;
      }

  %body
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "font-family:helvetica, sans-serif;", :width => "100%"}
      %tr
        %td{:height => "50px", :style => "background-color: #101010;" }
          %a.navbar-brand{:href => "http://supply.tridentrestorationinc.com/"} Supply
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "font-family:helvetica, sans-serif;margin-left: 15px;margin-right: 15px;", :width => "100%" }
      %tr
        %td{:height => "25px"}
      %tr
        %td
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "570"}
                  %tr
                    %td
                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td
                            %h2 New order.
                            %table
                              %tr
                                %td.customer-info-item
                                  Customer
                                %td{:width => "15"}
                                %td
                                  #{@user.first_name} #{@user.last_name}
                              %tr
                                %td.customer-info-item
                                  Email
                                %td{:width => "15"}
                                %td
                                  %a{:href => "mailto:#{@user.email}"}
                                    #{@user.email}
                              %tr
                                %td.customer-info-item
                                  Phone
                                %td{:width => "15"}
                                %td
                                  #{@user.phone}
                              %tr
                                %td.customer-info-item
                                  Deliver to
                                %td{:width => "15"}
                                %td
                                  #{@address}
                  %tr
                    %td{:height => "25px"}
                  %tr
                    %td
                      %h2 Products List
                  %tr
                    %td
                      %table{:border => "1", :cellpadding => "10", :cellspacing => "0"}
                        %thead
                          %tr
                            %th{:width => "50px"}
                              \#
                            %th{:width => "120px"}
                              Img
                            %th{:align => "left"}
                              Name
                            %th{:width => "100px"}
                              Quantity
                            %th{:align => "left"}
                              Characteristics
                        %tbody
                          - @items.each_with_index do |oi, i|
                            %tr
                              %td{:align => "center"}
                                %b
                                  = i + 1
                              %td
                                %div{:style => "border-radius: 5px;border: 1px solid grey;overflow: hidden;padding: 2px;"}
                                  = image_tag "http://supply.tridentrestorationinc.com/#{oi.product.photo(:thumb)}", :style => "border-radius: 5px;"
                              %td
                                #{oi.product.name}
                              %td{:align => "center"}
                                #{oi.quantity}
                              %td
                                %p{:style => "color:#999999;font-size:13px;line-height:19px;"}
                                  - eval(oi.characteristics).each do |k, v|
                                    #{k}: #{v}
                                    %br/
      %tr
        %td{:height => "25px"}
