.col-xs-12.col-md-12
  %ol.breadcrumb
    %li.active Cart
  .row
    - if current_cart.empty?
      .col-xs-12.col-md-12
        .col-xs-4.col-md-4
        .col-xs-4.col-md-4
          %h4 Your cart is empty. Please, return to #{link_to 'catalog', root_path}!
        .col-xs-4.col-md-4
    - else
      = form_tag(orders_path, method: :post) do
        .col-xs-12.col-md-12
          .table-responsive
            %table.table
              %thead
                %tr
                  %th #
                  %th Img
                  %th Name / Link
                  %th Count
                  %th Actions
              %tbody
                - current_cart.items.each do |cart|
                  - cart.each do |cart_item|
                    %tr
                      %td
                        %b
                          = link_to cart_item.id, product_path(cart_item.product)
                      %td
                        = image_tag cart_item.product.photo(:thumb), class: 'img-rounded'
                      %td{ style: "white-space: normal;"}
                        %b
                          = link_to cart_item.product.name, product_path(cart_item.product)
                          %br
                          - cart_item.characteristics.each do |k, v|
                            .small.text-normal= "#{k}: #{v}"
                      %td
                        = number_field_tag "items[product_id_#{cart_item.product.id}#{cart_item.current_item(current_cart)}]", cart_item.quantity, min: '1', class: 'form-control', style: 'width: 90px;'
                      %td
                        = link_to remove_item_carts_path(remove_item: { product_id: cart_item.product.id, product_params: cart_item.product_params }), confirm: 'confirm', method: :put do
                          .btn.btn-danger
                            .glyphicon.glyphicon-trash
        .col-xs-12.col-md-12
          .col-xs-6.col-md-7.cart-drive
            = text_area_tag :message, '', placeholder: 'Message', required: false, class: 'form-control input-lg', rows: 4, id: 'order-message'
          .col-xs-6.col-md-5.cart-drive
            = text_field_tag :address, '', placeholder: 'Delivery Address', required: true, class: 'form-control input-lg'
            %br
            %button.btn.btn-default.btn-lg.btn-block.btn-success{:type => "submit"}
              %span.glyphicon.glyphicon-shopping-cart{"aria-hidden" => "true"}
              SEND ORDER
      