.col-xs-12.col-md-12
  %ol.breadcrumb
    %li.active Orders List (#{@orders.count})
  .row
    .col-xs-12.col-md-12
      .table-responsive
        %table.table.orders-list_table
          %thead
            %tr
              %th Order ID
              %th Date
              %th Status
              %th
          %tbody
            - @orders.each do |o|
              %tr.orders-list_table_order.well{"data-toggle" => "collapse", :href => "#collapse#{o.id}"}
                %td
                  %b
                    \##{o.id}
                %td
                  %b
                    = o.created_at.strftime('%m.%d.%y %H:%M:%S')
                %td
                  %span.label{ class: get_color_status(o.order_status.id)}= o.order_status.name.upcase
                %td
                  %span.caret
              %tr
                %td.orders-list_products-table{colspan: 4}
                  .table-responsive.panel-collapse.collapse{id: "collapse#{o.id}"}
                    %table.table
                      - o.order_items.each do |oi|
                        %tr
                          %td
                            %b
                              = oi.id
                          %td
                            = image_tag oi.product.photo.url(:thumb), :alt => "", class: 'img-rounded singl-product-list'
                          %td
                            %b
                              = link_to oi.product.name, product_path(oi.product.id)
                          %td
                            %i Quantity:
                            %b= oi.quantity
                      - if o.message
                        %tr
                          %td{colspan: 4}
                            Message:
                            .text-muted= o.message
      %nav.text-center
        %ul.pagination.pagination-lg= paginate @orders