.col-xs-12.col-md-12
  %ol.breadcrumb
    %li.active My Profile
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2
      .panel.panel-default
        .panel-body
          %form
            .form-group
              %label{:for => "first_name"} First Name
              %input#first_name.form-control{:placeholder => current_user.first_name, :type => "text", disabled: ''}/
            .form-group
              %label{:for => "last_name"} Last Name
              %input#last_name.form-control{:placeholder => current_user.last_name, :type => "text", disabled: ''}/
            .form-group
              %label{:for => "email"} Email
              %input#email.form-control{:placeholder => current_user.email, :type => "email", disabled: ''}/
            .form-group
              %label{:for => "phone"} Phone
              %input#phone.form-control{:placeholder => current_user.phone, :type => "phone", disabled: ''}/
            = link_to 'EDIT PROFILE', edit_user_registration_path, class: 'btn btn-primary btn-lg center-block'
