html, body {
  height: 100%;
}

.vertical-center {
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;

  width: 100%;
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
  .row {
    width: 100%
  }
}

.table > tbody > tr > td {
     vertical-align: middle;
}

//New pages style

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.orders-list_table {
  tr.orders-list_table_order {
    height: 60px;
    &[aria-expanded="true"] {
      .caret {
        transform: rotate(180deg)
      }
    }
  }
}

.orders-list_products-table {
  width: 100%;
  padding: 0 10px!important;
  .table tr:first-child td {
    border-top: 0;
  }
}

.single-product_description-input-group {
  position: relative;
  padding-bottom: 60px;
}

.single-product_input-group {
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 768px) {
  .single-product_sec {
    display: block!important;
  }
}

a:link {
  text-decoration: none;
}

.black-link {
  color: black;   
}

#deliver-to-address, #order-message {
  resize: none;
}

.text-normal {
  font-weight: normal;
}

.green-check {
  color: #5CB85C;
}

.supplier-header {
  background-color: #5CB85C;
  color: white;
  line-height: 35px;
}

.space-normal {
  white-space: normal;
}

.width-90 {
  width: 90px;
}

#error_explanation {
  color: red;
  text-align: left;
}

.characteristic-cart {
  background-color: #F5F5F5;
  margin-top: 0px;
  padding-top: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.addon-custome-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.block-image-home {
  padding-bottom: 100%;
  position: relative;
  border: 1px solid;
  border-color: #DDDDDD;
  border-radius: 8px;
}

.block-image-home-div {
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  position: absolute;
  top: 5px;
  left:5px;
  right:5px;
  bottom: 5px;
  margin: auto;
  background-repeat: no-repeat;
}

.block-image-home-caption {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.block-image-product-caption {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
}

.padding-5 {
  padding: 5px;
}

.padding-0 {
  padding: 0px;
}

.margin-right-10 {
  margin-right: 10px; 
}

.product-image-block {
  padding-bottom: 100%;
  position: relative;
  background-repeat: no-repeat;
  padding-bottom: 125%;
}

.resend-button {
  padding-top: 4px;
  padding-bottom: 4px;
  border-width: 0px;
}

@media screen and (max-width: 766px) {
  .product-img-responsive {
    width: 33%;
  }
}

@media screen and (max-width: 700px) {
  .product-img-responsive {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .product-img-responsive {
    width: 100%;
  }
}
