// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subcategory-sidebar {
  @media( max-width: 767px ){
    margin-bottom: 15px;
  }
}
/*cart page*/
.cart-drive {
  @media( max-width: 480px ){
    width: 100%;
    &:first-child {
      margin-bottom: 15px;
    }
  }
}
.prod-drive {
  @media( max-width: 480px ){
    width: 100%;
      margin-top: 15px;
  }
}