= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9   
  .content{"data-pjax-container" => ""}
    .page-header
      %h1 Edit User #{@user.email}
    %ol.breadcrumb
      %li.false
        = link_to 'Dashboard', admin_home_path, class: 'pjax'
      %li.false
        = link_to 'Users', admin_users_path, class: 'pjax'
      %li.false
        = link_to @user.email, admin_user_path(@user.id), class: 'pjax'
      %li.active Edit
    %ul.nav.nav-tabs
      %li.icon.show_member_link{:rel => "", :title => ""}
        = link_to admin_user_path(@user.id) do
          .glyphicon.glyphicon-eye-open
          %span Show
      %li.icon.edit_member_link.active{:rel => "", :title => ""}
        = link_to edit_admin_user_path(@user.id) do
          .glyphicon.glyphicon-pencil
          %span Edit
      /%li.icon.delete_member_link{:rel => "", :title => ""}
      /  = link_to admin_user_path(@user.id), method: :delete, data: { confirm: 'Are you sure?' } do
      /    .glyphicon.glyphicon-remove
      /    %span Delete
    %br
    .col-xs-12.col-sm-8.col-md-8.col-lg-9
      = form_tag(admin_user_path, method: :put, multipart: true, id: 'edit_user', class: 'form-horizontal denser') do
        %fieldset
          .form-group.control-group.string_type.name_field
            .col-sm-6
              %label.control-label First Name*
              .controls
                = text_field_tag "user[first_name]", @user.first_name, class: 'form-control', :required => "required", :size => "50"
            .col-sm-6
              %label.control-label Last Name*
              .controls
                = text_field_tag "user[last_name]", @user.last_name, class: 'form-control', :required => "required", :size => "50"
            .clearfix
          .form-group.control-group.string_type.name_field
            .col-sm-6
              %label.control-label Phone*
              .controls
                = text_field_tag "user[phone]", @user.phone, class: 'form-control', :required => "required", :size => "50"
            .clearfix
          .form-group.control-group.string_type.name_field.user_ability
            - if current_user.id != @user.id
              - if current_user.has_role? :admin
                .col-sm-6
                  %label.control-label Roles*
                  .controls
                    .col-sm-3.padding-0
                      %label.text-primary.control-label User
                      .controls
                        = radio_button_tag "role", 'user', (@user.has_role? :user), class: 'form-control', id: 'account-user'
                    .col-sm-3.padding-0
                      %label.text-success.control-label Manager
                      .controls
                        = radio_button_tag "role", 'manager', (@user.has_role? :manager), class: 'form-control', id: 'account-manager'
                    .col-sm-3.padding-0
                      %label.text-danger.control-label Admin
                      .controls
                        = radio_button_tag "role", 'admin', (@user.has_role? :admin), class: 'form-control', id: 'account-admin'
                    .clearfix
              .col-sm-6
                %label.control-label Active Account*
                .controls
                  .col-sm-3.padding-0
                    %label.text-success.control-label Yes
                    .controls
                      = radio_button_tag "user[active_account]", true, @user.active_account, class: 'form-control', id: 'account-yes'
                  .col-sm-3.padding-0
                    %label.text-danger.control-label No
                    .controls
                      = radio_button_tag "user[active_account]", false, !@user.active_account, class: 'form-control', id: 'account-no'
                  .clearfix
            .clearfix
        .clearfix
        .form-group.form-actions
          .col-sm-10
            %button.btn.btn-primary{"data-disable-with" => "Updating", :name => "_save", :type => "submit"}
              %i.icon-white.icon-ok
              Update
            %span.extra_buttons
              = link_to admin_users_path do
                .btn.btn-default
                  %i.icon-remove
                  Cancel
          .clearfix
    .clearfix
.clearfix   