= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9
  %title Site Administration | Supply Admin
  .page-header
    %h1 List of Users
  %ol.breadcrumb
    %li= link_to 'Dashboard', admin_home_path
    %li.active Users
  %ul.nav.nav-tabs
    %li.icon.dashboard_root_link.active{:rel => "", :title => ""}
      = link_to admin_users_path, class: 'pjax' do
        .glyphicon.glyphicon-list
        %span Users
  %table.table.table-condensed.table-striped
    %table#users-table.table.orders-list_table
      %thead
        %tr
          %th Email
          %th First Name
          %th Last Name
          %th Phone
          %th Orders
          %th Active Account
          %th Role
          %th
.clearfix
