= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9  
  .content{"data-pjax-container" => ""}
    .page-header
      %h1 Details for User #{@user.email}
    %ol.breadcrumb
      %li.false
        = link_to 'Dashboard', admin_home_path, class: 'pjax'
      %li.false
        = link_to 'Users', admin_users_path, class: 'pjax'
      %li.active= @user.email
    %ul.nav.nav-tabs
      %li.icon.show_member_link.active{:rel => "", :title => ""}
        = link_to admin_user_path(@user.id) do
          .pjax
            .glyphicon.glyphicon-eye-open
            %span Show
      %li.icon.edit_member_link{:rel => "", :title => ""}
        = link_to edit_admin_user_path(@user.id) do
          .pjax
            .glyphicon.glyphicon-pencil
            %span Edit
      /%li.icon.delete_member_link{:rel => "", :title => ""}
      /  = link_to admin_user_path(@user.id), method: :delete, data: { confirm: 'Are you sure?' } do
      /    .pjax
      /      .glyphicon.glyphicon-remove
      /      %span Delete
    .fieldset
      %h4
        Basic info
      %dl
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          %dt
            %span.label.label-info.name_field.string_type
              First Name
          %dd.well
            = @user.first_name
          %dt
            %span.image_field.label.label-info.paperclip_type
              Email
          %dd.well
            = @user.email
          %dt
            %span.image_field.label.label-info.paperclip_type
              Active Account
          %dd.well
            %span.label.label-success= "✓" if @user.active_account == true
            %span.label.label-danger= "✘" if @user.active_account == false
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          %dt
            %span.has_many_association_type.label.label-info.subcategories_field
              Last Name
          %dd.well
            = @user.last_name
          %dt
            %span.has_many_association_type.label.label-info.subcategories_field
              Phone
          %dd.well
            = @user.phone
          %dt
            %span.has_many_association_type.label.label-info.subcategories_field
              Roles
          %dd.well
            = @user.roles.map(&:name).join(",")
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          %dt
            %span.label.label-info.name_field.string_type
              Orders
          %dd.well
            - @user.orders.each do |o|
              = link_to "Order ##{o.id},", order_path(o.id), class: "pjax"