= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9   
  .content{"data-pjax-container" => ""}
    .page-header
      %h1 Edit Supplier #{@supplier.name}
    %ol.breadcrumb
      %li.false
        = link_to 'Dashboard', admin_home_path, class: 'pjax'
      %li.false
        = link_to 'Suppliers', admin_suppliers_path, class: 'pjax'
      %li.false
        = link_to @supplier.name, admin_supplier_path(@supplier.id), class: 'pjax'
      %li.active Edit
    %ul.nav.nav-tabs
      %li.icon.show_member_link{:rel => "", :title => ""}
        = link_to admin_supplier_path(@supplier.id) do
          .glyphicon.glyphicon-eye-open
          %span Show
      %li.icon.edit_member_link.active{:rel => "", :title => ""}
        = link_to edit_admin_supplier_path(@supplier.id) do
          .glyphicon.glyphicon-pencil
          %span Edit
      /%li.icon.delete_member_link{:rel => "", :title => ""}
      /  = link_to admin_supplier_path(@supplier.id), method: :delete, data: { confirm: 'Are you sure?' } do
      /    .glyphicon.glyphicon-remove
      /    %span Delete
    %br
    .col-xs-12.col-sm-8.col-md-8.col-lg-9
      = form_tag(admin_supplier_path, method: :put, multipart: true, id: 'edit_category', class: 'form-horizontal denser') do
        %fieldset
          .form-group.control-group.string_type.name_field
            .col-sm-6
              %label.control-label Name*
              .controls
                = text_field_tag "supplier[name]", @supplier.name, class: 'form-control', :required => "required", :size => "50"
            .col-sm-6
              %label.control-label Email*
              .controls
                = email_field_tag "supplier[email]", @supplier.email, class: 'form-control', :required => "required", :size => "50"
            .clearfix
          .form-group.control-group.string_type.name_field
            .col-sm-6
              %label.control-label Adderss*
              .controls
                = text_field_tag "supplier[address]", @supplier.address, class: 'form-control', :required => "required", :size => "50"
            .col-sm-6
              %label.control-label Phone*
              .controls
                = phone_field_tag "supplier[phone]", @supplier.phone, class: 'form-control', :required => "required", :size => "50"
            .clearfix
        .form-group.form-actions
          .col-sm-10
            %button.btn.btn-primary{"data-disable-with" => "Updating", :name => "_save", :type => "submit"}
              %i.icon-white.icon-ok
              Update
            %span.extra_buttons
              = link_to admin_suppliers_path do
                .btn.btn-default
                  %i.icon-remove
                  Cancel
          .clearfix
    .clearfix
.clearfix