= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9   
  .content{"data-pjax-container" => ""}
    .page-header
      %h1 New Supplier
    %ol.breadcrumb
      %li.false
        = link_to 'Dashboard', admin_home_path, class: 'pjax'
      %li.false
        = link_to 'Suppliers', admin_suppliers_path, class: 'pjax'
      %li.active New
    %ul.nav.nav-tabs
      %li.icon.dashboard_root_link{:rel => "", :title => ""}
        = link_to admin_suppliers_path, class: 'pjax' do
          .glyphicon.glyphicon-list
          %span Suppliers
      %li.icon.dashboard_root_link.active{:rel => "", :title => ""}
        = link_to new_admin_supplier_path, class: 'pjax' do
          .glyphicon.glyphicon-plus
          %span Add new
    %br
    .col-xs-12.col-sm-8.col-md-8.col-lg-9
      = form_tag(admin_suppliers_path, method: :post, multipart: true, id: 'edit_category', class: 'form-horizontal denser') do
        %fieldset
          .form-group.control-group.string_type.name_field
            .col-sm-6
              %label.control-label Name*
              .controls
                = text_field_tag "supplier[name]", '', class: 'form-control', :required => "required", :size => "50"
            .col-sm-6
              %label.control-label Email*
              .controls
                = email_field_tag "supplier[email]", '', class: 'form-control', :required => "required", :size => "50"
            .clearfix
          .form-group.control-group.string_type.name_field
            .col-sm-6
              %label.control-label Address*
              .controls
                = text_field_tag "supplier[address]", '', class: 'form-control', :required => "required", :size => "50"
            .col-sm-6
              %label.control-label Phone*
              .controls
                = phone_field_tag "supplier[phone]", '', class: 'form-control', :required => "required", :size => "50"
            .clearfix
        .form-group.form-actions
          .col-sm-10
            %button.btn.btn-primary{"data-disable-with" => "Creating", :name => "_save", :type => "submit"}
              %i.icon-white.icon-ok
              Create
            %span.extra_buttons
              = link_to admin_suppliers_path do
                .btn.btn-default
                  %i.icon-remove
                  Cancel
          .clearfix
    .clearfix
.clearfix