= render 'partials/header'
= render 'admin/sidebar'
.col-xs-12.col-sm-8.col-md-8.col-lg-9  
  .content{"data-pjax-container" => ""}
    .page-header
      %h1 Details for Supplier #{@supplier.name}
    %ol.breadcrumb
      %li.false
        = link_to 'Dashboard', admin_home_path, class: 'pjax'
      %li.false
        = link_to 'Suppliers', admin_suppliers_path, class: 'pjax'
      %li.active= @supplier.name
    %ul.nav.nav-tabs
      %li.icon.show_member_link.active{:rel => "", :title => ""}
        = link_to admin_supplier_path(@supplier.id) do
          .pjax
            .glyphicon.glyphicon-eye-open
            %span Show
      %li.icon.edit_member_link{:rel => "", :title => ""}
        = link_to edit_admin_supplier_path(@supplier.id) do
          .pjax
            .glyphicon.glyphicon-pencil
            %span Edit
      /%li.icon.delete_member_link{:rel => "", :title => ""}
      /  = link_to admin_supplier_path(@supplier.id), method: :delete, data: { confirm: 'Are you sure?' } do
      /    .pjax
      /      .glyphicon.glyphicon-remove
      /      %span Delete
    .fieldset
      %h4
        Basic info
      %dl
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          %dt
            %span.label.label-info.name_field.string_type
              Name
          %dd.well
            = @supplier.name
          %dt
            %span.image_field.label.label-info.paperclip_type
              Email
          %dd.well
            = @supplier.email
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          %dt
            %span.has_many_association_type.label.label-info.subcategories_field
              Address
          %dd.well
            = @supplier.address
          %dt
            %span.has_many_association_type.label.label-info.subcategories_field
              Phone
          %dd.well
            = @supplier.phone
        .clearfix
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          %dt
            %span.label.label-info.name_field.string_type
              Products
          %dd.well
            - @supplier.products.each do |p|
              = link_to p.name, admin_product_path(p.id), class: 'pjax'
              ,
        .clearfix
.clearfix