.col-xs-12.col-md-12
  .row
    - if @products.count > 0
      - @products.each do |p|
        .col-xs-6.col-sm-4.col-md-3.padding-5
          .col-xs-12.col-sm-12.col-md-12.block-image-home
            = link_to product_path(p.id), class: 'black-link' do
              %div.block-image-home-div{style: "background-image: url(\"#{p.photo.url(:medium)}\");background-position: center;background-size: 50%"}
              .caption.block-image-home-caption
                %h4.text-center= p.name
    - else
      .col-xs-12.col-md-12
      .col-xs-4.col-md-4
      .col-xs-4.col-md-4
        %h4 No items matching your request were found!
      .col-xs-4.col-md-4

%nav.text-center
  %ul.pagination.pagination-lg= paginate @products
