.col-xs-12.col-md-12
  %ol.breadcrumb
    %li
      = link_to 'Catalog', root_path
    %li
      = link_to @product.subcategory.category.name, subcategory_path(@product.subcategory.category.subcategories.first.id)
    %li
      = link_to @product.subcategory.name, subcategory_path(@product.subcategory.id)
    %li.active
      = @product.name
  .row
    .col-xs-12.col-md-12
      %h2 #{@product.name} (#{@product.measurement}) 
      %br/
      .row.row-eq-height.single-product_sec
        .col-sm-12.col-md-5
          = image_tag @product.photo(:medium), class: 'img-thumbnail center-block', style: 'width: 50%;'
        .col-sm-12.col-md-7.single-product_description-input-group

          .row
            = form_tag(:carts, :method => "put") do
              = hidden_field_tag 'carts[product_id]', @product.id
              .col-xs-6.col-md-6.prod-drive
                - if @product.description.present?
                  %h2 Description
                  %p= @product.description
              .col-xs-6.col-md-6.prod-drive
                %br
                - @product.characteristics.order("id ASC").each do |c|
                  %label= c.name
                  = select_tag "carts[characteristic_#{c.id}]", options_from_collection_for_select(c.values.order("id ASC"), "id", "name"), class: 'form-control'
                  %br
              .clearfix
              .col-xs-6.col-md-6.prod-drive
                = number_field_tag 'carts[quantity]', '1', min: 1, class: 'form-control input-lg'
              .col-xs-6.col-md-6.prod-drive
                %button.btn.btn-success.btn-block.btn-lg{:type => "submit"}
                  %span.glyphicon.glyphicon-shopping-cart{"aria-hidden" => "true"}
                  Add to Cart
      %br/
