!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title Supply
    %meta(charset="UTF-8" content="text/html" http-equiv="content-type")
    %meta(content="initial-scale=1, width=device-width, minimum-scale=1, maximum-scale=1" name="viewport")
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %meta{:charset => "UTF-8", :content => "text/html", "http-equiv" => "content-type"}/
    %meta{:content => "initial-scale=1, width=device-width, minimum-scale=1, maximum-scale=1", :name => "viewport"}/
    = csrf_meta_tags
  %body
    = render 'partials/header'
    = yield